openapi: 3.0.0
info:
  title: アクト・アップ オープンセンサー接続APIリファレンス
  description: ACT cloud sensor data post API.
  version: 1.0.0
servers:
  - url: https://hooks.act-app.io/v1
    description: ACT cloud webhook APIs
paths:
  # Standard #####################################################################################
  /common/{groupCode}/{Key}:
    post:
      summary: Post common sensor data. (Standard)
      description: Common sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - value
                    properties:
                      index:
                        type: string
                      type:
                        type: string
                      name:
                        type: string
                      data-name:
                        type: string
                      value:
                        type: number
                      unit:
                        type: string
                      time:
                        type: string
                        format: date-time
                      location:
                        type: object
                        required:
                          - lat
                          - lng
                        properties:
                          lat:
                            type: string
                          lng:
                            type: string
                          name:
                            type: string
                time:
                  type: string
                  format: date-time
                location:
                  type: object
                  properties:
                    lat:
                      type: string
                    lng:
                      type: string
                    name:
                      type: string
              example:
                data:
                  - index: "0"
                    type: "env"
                    value: 23.4
                    name: "温度"
                    data_name: "temperature"
                    unit: "°C"
                  - index: "1"
                    type: "env"
                    value: 50
                    name: "湿度"
                    data_name: "relative_humidity"
                    unit: "%"
                time: "2021-05-10T09:12:34.56789Z"
                location:
                  lat: 35.391133800000006
                  lng: 139.55841339999998
      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  type:
                    type: string
                  name:
                    type: string
                  data-name:
                    type: string
                  value:
                    type: number
                  unit:
                    type: string
                  time: 
                    type: string
                    format: date-time
                  location:
                    type: object
                    properties:
                      lat:
                        type: string
                      lng:
                        type: string
                      name:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time:
                          type: string
                          format: date-time
                        location:
                          type: object
                          required:
                            - lat
                            - lng
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example:
                statusCode: 200
                headers:
                  Content-Type: "application/json"
                body:
                  type: "env"
                  value: 23.4
                  name: "温度"
                  data_name: "temperature"
                  unit: "°C"
                  time: "2021-05-26T11:35:23.045Z"
                  location:
                    lng: 139.56031134283484
                    lat: 35.39041839643905
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed from before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # Sigfox #####################################################################################
  /sigfox/{deviceType}/{groupCode}/{Key}:
    post:
      summary: Post Sigfox sensor data.
      description: Sigfox sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "deviceType"
        required: true
        schema:
          type: string
          description: Device Type
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              required:
                - data
              properties:
                time:
                  type: integer
                  description: UNIX Time
                deviceTypeId:
                  type: string
                device:
                  type: string
                rssi:
                  type: string
                station:
                  type: string
                data:
                  type: string
                seqNumber:
                  type: string
              example:
              - time: 1626534351,
                deviceTypeId: "60bf61444175811d757ab461"
                device: "EFB9A3"
                rssi: "-133.00"
                station: "ADAC"
                data: "7d44533d7e003d00"
                seqNumber: "1029"
      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  type:
                    type: string
                  name:
                    type: string
                  data-name:
                    type: string
                  value:
                    type: number
                  unit:
                    type: string
                  time: 
                    type: string
                    format: date-time
                  location:
                    type: object
                    properties:
                      lat:
                        type: string
                      lng:
                        type: string
                      name:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time:
                          type: string
                          format: date-time
                        location:
                          type: object
                          required:
                            - lat
                            - lng
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example:
                statusCode: 200
                headers:
                  Content-Type: "application/json"
                body:
                  type: "env"
                  time: "2021-05-26T11:35:23.045Z"
                  location:
                    lng: 139.56031134283484
                    lat: 35.39041839643905
                  data:
                    - index: "0"
                      type: "env"
                      value: 23.4
                      name: "温度"
                      data_name: "temperature"
                      unit: "°C"
                    - index: "1"
                      type: "env"
                      value: 50
                      name: "湿度"
                      data_name: "temperature"
                      unit: "%"
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed from before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # ZETA Techsor Sensor API ################################################################
  /zeta_techsor/{groupCode}/{key}:
    post:
      summary: Post sensor data. (from ZETA Techsor API)
      description: Post ZETA techsor sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              required:
                - payload
              properties:
                payload:
                  type: object
                  required:
                    - data
                  properties:
                    device:
                      type: string
                    timestamp:
                      type: integer
                      description: UNIX Time
                    data:
                      type: array
                      items:
                        type: object
                        required:
                          - value
                        properties:
                          port:
                            type: string
                            # A1, A2, A1-1, 
                          name:
                            type: string
                            # air_temp: 気温, air_hum: 空気湿度,
                            # illuminance: 照度
                            # water_oxygen: 水溶存酸素, water_temp: 水温
                          value:
                            type: string
                type:
                  type: string
                version:
                  type: string
              example:
                type: "metric"
                version: "v1"
                payload: 
                  device: "111513318ABA0006"
                  timestamp: 1639817016
                  data:
                    - port: ""
                      name: "battery"
                      value: 98
                    - port: ""
                      name: "battery_status"
                      value: 2
                    - port: "A1-1"
                      name: "water_oxygen"
                      value: 15.6
                    - port: "A1-1"
                      name: "water_temp"
                      value: 20.90
                    - port: "A1-3"
                      name: "water_ph"
                      value: 7.22
                    - port: "A1-4"
                      name: "air_temp"
                      value: 7.6
                    - port: "A1-4"
                      name: "air_hum"
                      value: 95
                    - port: "A1-4"
                      name: "illuminance"
                      value: 1
                    - port: "A1-5"
                      name: "water_conductivity"
                      value: 0.007
      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time: 
                          type: string
                          format: date-time
                        location:
                          type: object
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example:
                statusCode: 200
                headers:
                  Content-Type: "application/json"
                body: [
                  {
                      "type": "env",
                      "name": "water_oxygen",
                      "data_name": "water_oxygen",
                      "value": 15.51,
                      "unit": "℃",
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "type": "env",
                      "name": "water_temp",
                      "data_name": "water_temp",
                      "value": 22,
                      "unit": "℃",
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "type": "env",
                      "name": "water_ph",
                      "data_name": "water_ph",
                      "value": 11.95,
                      "unit": "℃",
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "type": "env",
                      "name": "air_temp",
                      "data_name": "air_temp",
                      "value": 8.6,
                      "unit": "%",
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "name": "air_hum",
                      "data_name": "air_hum",
                      "value": 95,
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "name": "illuminance",
                      "data_name": "illuminance",
                      "value": 0,
                      "time": "2021-12-18T09:13:53.276Z"
                  },
                  {
                      "name": "water_conductivity",
                      "data_name": "water_conductivity",
                      "value": 0.006,
                      "time": "2021-12-18T09:13:53.276Z"
                  }
                ]
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed from before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # TEST Sensor Data Get ########################################################################
  # /data_check/{groupCode}/{Key}:
  #   get:
  #     summary: Test API for Get sensor data in 50 days
  #     description: sensor data get
  #     parameters:
  #     - in: path
  #       name: "groupCode"
  #       required: true
  #       schema:
  #         type: string
  #         description: Group Code
  #     - in: path
  #       name: Key
  #       required: true
  #       schema:
  #         type: string
  #         description: Whebhook Key
 
  #     responses:
  #       '200':
  #         description: Successfully get sensor data for test
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 type: object
  #                 properties:   
  #                   gid:
  #                     type: string
  #                   device_id:
  #                     type: string
  #                   measure_name:
  #                     type: string
  #                   measure_value:
  #                     type: number
  #                   time: 
  #                     type: string
  #                     format: date-time
  #             example:
  #               [
  #                 {
  #                   gid: "369eddb5-d09c-48e4-8bc2-84a36e84eb8d",
  #                   device_id: "470ffec6-e10d-59f5-9cd3-95b47f95fc9e",
  #                   measure_value: 30.5,
  #                   measure_name: "temperature",
  #                   time: "2021-05-26 12:32:40.244000000"
  #                 }
  #               ]
  #       '400':
  #         description: Bad Request. Incorect request.
  #       '403':
  #         description: Forbidden. webhook URL NOT exist or expired