openapi: 3.0.0
info:
  title: ACT.cloud webhook API
  description: ACT cloud sensor data post API.
  version: 0.1.2
servers:
  - url: https://hooks.act-node.com/sensor/v1
    description: ACT cloud webhook APIs
paths:
  # Standard #####################################################################################
  /common/{groupCode}/{Key}:
    post:
      summary: Post common sensor data. (Standard)
      description: Common sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              properties:
                type:
                  type: string
                name:
                  type: string
                data-name:
                  type: string
                value:
                  type: number
                unit:
                  type: string
                time:
                  type: string
                  format: date-time
                location:
                  type: object
                  properties:
                    lat:
                      type: string
                    lng:
                      type: string
                    name:
                      type: string
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - value
                    properties:
                      index:
                        type: string
                      type:
                        type: string
                      name:
                        type: string
                      data-name:
                        type: string
                      value:
                        type: number
                      unit:
                        type: string
                      time:
                        type: string
                        format: date-time
                      location:
                        type: object
                        required:
                          - lat
                          - lng
                        properties:
                          lat:
                            type: string
                          lng:
                            type: string
                          name:
                            type: string
              example:
              - type: "env"
                name: "温度"
                data-name: "temperature"
                value: 23.4
                unit: "°C"
                time: "2021-05-10T09:12:34.56789Z"
                location: {
                  lat: 35.391133800000006,
                  lng: 139.55841339999998
                }
                data: [
                  {
                    type: "env",
                    value: 23.4,
                    name: "温度",
                    data_name: "temperature",
                    unit: "°C",
                  },
                  {
                    type: "env",
                    value: 50,
                    name: "湿度",
                    data_name: "relative_humidity",
                    unit: "%"
                  }
                ]

      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  type:
                    type: string
                  name:
                    type: string
                  data-name:
                    type: string
                  value:
                    type: number
                  unit:
                    type: string
                  time: 
                    type: string
                    format: date-time
                  location:
                    type: object
                    properties:
                      lat:
                        type: string
                      lng:
                        type: string
                      name:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time:
                          type: string
                          format: date-time
                        location:
                          type: object
                          required:
                            - lat
                            - lng
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example: {
                statusCode: 200,
                headers: {
                  Content-Type: "application/json"
                },
                body: {
                  type: "env",
                  value: 23.4,
                  name: "温度",
                  data_name: "temperature",
                  unit: "°C",
                  time: "2021-05-26T11:35:23.045Z",
                  location: {
                    lng: 139.56031134283484,
                    lat: 35.39041839643905
                  }
                }
              }
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # Standard #####################################################################################
  /sigfox/{groupCode}/{Key}:
    post:
      summary: Post Sigfox sensor data.
      description: Sigfox sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              properties:
                time:
                  type: integer
                  description: UNIX Time
                deviceTypeId:
                  type: string
                device:
                  type: string
                snr:
                  type: string
                rssi:
                  type: string
                station:
                  type: string
                data:
                  type: string
                seqNumber:
                  type: string
              example:
              - time: 1626534351,
                deviceTypeId: "60bf61444175811d757ab461"
                device: "EFB9A3"
                snr: "11.00"
                rssi: "-133.00"
                station: "ADAC"
                data: "7d44533d7e003d00"
                seqNumber: "1029"
      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  type:
                    type: string
                  name:
                    type: string
                  data-name:
                    type: string
                  value:
                    type: number
                  unit:
                    type: string
                  time: 
                    type: string
                    format: date-time
                  location:
                    type: object
                    properties:
                      lat:
                        type: string
                      lng:
                        type: string
                      name:
                        type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        index:
                          type: string
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time:
                          type: string
                          format: date-time
                        location:
                          type: object
                          required:
                            - lat
                            - lng
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example: {
                statusCode: 200,
                headers: {
                  Content-Type: "application/json"
                },
                body: {
                  type: "env",
                  time: "2021-05-26T11:35:23.045Z",
                  location: {
                    lng: 139.56031134283484,
                    lat: 35.39041839643905
                  },
                  data: [
                    {
                      index: "0",
                      type: "env",
                      value: 23.4,
                      name: "温度",
                      data_name: "temperature",
                      unit: "°C",
                    },
                    {
                      index: "1",
                      type: "env",
                      value: 50,
                      name: "湿度",
                      data_name: "temperature",
                      unit: "%",
                    }
                  ]
                }
              }
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # ZETA Techsor Sensor API ################################################################
  /techsor/{groupCode}/{key}:
    post:
      summary: post sensor data. (from ZETA Techsor API)
      description: post ZETA techsor sensor data send to ACT.cloud.
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object 
              required:
                - type
                - info
                - data
              properties:
                type:
                  type: string
                info:
                  type: object
                  required:
                    - device
                    - time
                  properties:
                    device:
                      type: string
                    time:
                      type: integer
                      description: UNIX Time
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - masterPort
                      - name
                      - value
                    properties:
                      masterPote:
                        type: string
                      expandPort:
                        type: string
                        # A1, A2
                        # 接続口A1開拓口1, 接続口A1開拓口2, 接続口A1開拓口3, 接続口A1開拓口4, 接続口A1開拓口5
                        # 接続口A2開拓口1, 接続口A2開拓口2, 接続口A2開拓口3, 接続口A2開拓口4, 接続口A2開拓口5
                      name:
                        type: string
                        # air_temperature: 気温, air_humidity: 空気湿度,
                        # soil_temperature: 土壌温度, soil_humidity: 土壌水分, soil_ec: 土壌EC,
                        # leaf_temperature: 葉面温度, leaf_humidity: 葉面湿度,
                        # co2_concentrations: 二酸化炭素濃度
                        # illumination: 照度, par: 光合成有効放射,
                        # ph: pH値, water_ec: 水EC値, water_do: 水溶存酸素, water_temperature: 水温
                      value:
                        type: string
                        # ℃, %, ℃, %, dS/m, ℃, %, ppm, Lux, μmol/m2·s, ,mS/cm, mg/L, ℃
              example:
                type: sensor_data
                info: { device: 11130231756A0021, time: 1550647733}
                data: [ { masterPort: 1, expandPort: 5, name: ph, value: 9.71}, { masterPort: 1, expandPort: 4, name: water_do, value: 13.89}]
      responses:
        '200':
          description: Successfully post sensor data
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                        name:
                          type: string
                        data-name:
                          type: string
                        value:
                          type: number
                        unit:
                          type: string
                        time: 
                          type: string
                          format: date-time
                        location:
                          type: object
                          properties:
                            lat:
                              type: string
                            lng:
                              type: string
                            name:
                              type: string
              example:
                data: [
                  {
                    type: env,
                    name: ph,
                    data_name: ph,
                    value: 9.71,
                    unit: ,
                    time: 2021-01-10T09:12:34.56789Z,
                    location: {lat: 35.391133800000006, lng: 139.55841339999998}
                  },
                  {
                    type: env,
                    name: water_do,
                    data_name: water_do,
                    value: 13.89,
                    unit: mg/L,
                    time: 2021-01-10T09:12:34.56789Z,
                    location: {lat: 35.391133800000006, lng: 139.55841339999998}
                  }
                ]
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired.
        '406':
          description: Not Acceptable. Request source IP address changed before.
        '412':
          description: Number of Sensor data exceed connection limit.
        '500':
          description: Internal Server Error.
        '503':
          description: Service Unavailable. The connection is suspended or disabled.

  # TEST Sensor Data Get ########################################################################
  /data_check/{groupCode}/{Key}:
    get:
      summary: Test API for Get sensor data in 50 days
      description: sensor data get
      parameters:
      - in: path
        name: "groupCode"
        required: true
        schema:
          type: string
          description: Group Code
      - in: path
        name: Key
        required: true
        schema:
          type: string
          description: Whebhook Key
 
      responses:
        '200':
          description: Successfully get sensor data for test
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:   
                    gid:
                      type: string
                    device_id:
                      type: string
                    measure_name:
                      type: string
                    measure_value:
                      type: number
                    time: 
                      type: string
                      format: date-time
              example:
                [
                  {
                    gid: "369eddb5-d09c-48e4-8bc2-84a36e84eb8d",
                    device_id: "470ffec6-e10d-59f5-9cd3-95b47f95fc9e",
                    measure_value: 30.5,
                    measure_name: "temperature",
                    time: "2021-05-26 12:32:40.244000000"
                  }
                ]
        '400':
          description: Bad Request. Incorect request.
        '403':
          description: Forbidden. webhook URL NOT exist or expired